<div class="act">
    <div class="table">
        <div class="table-title">
            <span>推广详情列表</span>
        </div>
        <table>
            <button style="float: right; vertical-align: top;height: 40px;" class="btn btn-green" ng-click="addAct()">添加微信信息</button>
            <thead>
            <tr>
                <td>编号</td>
                <td>微信号</td>
                <td>二维码地址</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!table.ready">
                <td colspan="8">正在加载。。。</td>
            </tr>
            <tr ng-if="table.error">
                <td colspan="8">获取列表错误，{{table.errorMsg}}<br/>请刷新页面</td>
            </tr>
            <tr ng-if="table.ready && !table.error" ng-repeat="list in table.list">
                <td ng-bind="list.id"></td>
                <td ng-bind="list.wx_num"></td>
                <td><img style="width: 100px;height: 100px;" src="{{list.img_url}}"></td>
                <td>
                    <a class="ml-1" ng-click="delAct(list)"><i class="icon-delete"></i>删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="table.num" class="table-num">共<span ng-bind="table.num"></span>条记录</div>
        <div table-page="table"></div>
    </div>
</div>
